<daisy-navbar
  *ngIf="showAppUi$ | async"
  class="bg-primary text-primary-content"
>
  <daisy-navbar-start></daisy-navbar-start>
  <daisy-navbar-center>
    <a
      [routerLink]="['dashboard']"
      daisyButton
      [style]="ButtonStyle.GHOST"
      class="normal-case text-lg"
    >
      Stochus
    </a>
  </daisy-navbar-center>
  <daisy-navbar-end>
    <daisy-dropdown showOnHover alignEnd>
      <ng-icon name="heroBars3" button></ng-icon>
      <ul body daisyMenu class="w-max bg-base-100 rounded-box shadow">
        <li daisyMenuItem *ngIf="canChooseTasksFreely$ | async">
          <a [routerLink]="['assignments']">
            <ng-icon name="heroRectangleStack" />
            Aufgaben
          </a>
        </li>
        <li daisyMenuItem *ngIf="isResearcher$ | async">
          <a [routerLink]="['studiesManagement']">
            <ng-icon name="heroBeaker" />
            Studien verwalten
          </a>
        </li>
        <li daisyMenuItem>
          <a (click)="logout()">
            <ng-icon name="heroArrowRightOnRectangle" />
            Abmelden
          </a>
        </li>
      </ul>
    </daisy-dropdown>
  </daisy-navbar-end>
</daisy-navbar>
