<div class="max-w-2xl prose p-10 mx-auto">
  <h1>Impressum</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae
    dicta ducimus eaque hic illo impedit itaque, magnam, minus molestiae
    molestias mollitia necessitatibus non nulla possimus quisquam similique
    tempora voluptatum?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae
    dicta ducimus eaque hic illo impedit itaque, magnam, minus molestiae
    molestias mollitia necessitatibus non nulla possimus quisquam similique
    tempora voluptatum?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae
    dicta ducimus eaque hic illo impedit itaque, magnam, minus molestiae
    molestias mollitia necessitatibus non nulla possimus quisquam similique
    tempora voluptatum?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae
    dicta ducimus eaque hic illo impedit itaque, magnam, minus molestiae
    molestias mollitia necessitatibus non nulla possimus quisquam similique
    tempora voluptatum?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae
    dicta ducimus eaque hic illo impedit itaque, magnam, minus molestiae
    molestias mollitia necessitatibus non nulla possimus quisquam similique
    tempora voluptatum?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae
    dicta ducimus eaque hic illo impedit itaque, magnam, minus molestiae
    molestias mollitia necessitatibus non nulla possimus quisquam similique
    tempora voluptatum?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae
    dicta ducimus eaque hic illo impedit itaque, magnam, minus molestiae
    molestias mollitia necessitatibus non nulla possimus quisquam similique
    tempora voluptatum?
  </p>
</div>
