<div class="flex">
  <div class="grid grid-cols-2 gap-4 items-stretch">
    <div *ngFor="let study of studies$ | async" class="card shadow-xl">
      <div class="card-body">
        <div class="card-title">
          <h2 class="flex items-center gap-1">
            <ng-icon name="heroAcademicCap"></ng-icon>
            {{ study.name }}
          </h2>
        </div>
        <div class="stats shadow text-xs">
          <div class="stat">
            <div class="stat-figure text-primary">
              <div
                class="radial-progress"
                style="--value: 70; --size: 2em"
              ></div>
            </div>
            <div class="stat-title">Fortschritt</div>
            <div class="stat-value text-primary">70%</div>
            <div class="stat-desc break-words">
              Noch 3 Aufgaben <br />
              zu bearbeiten
            </div>
          </div>

          <div class="stat">
            <div class="stat-figure text-secondary">
              <ng-icon name="heroCalendar" size="2em"></ng-icon>
            </div>
            <div class="stat-title">Abgabefrist</div>
            <div class="stat-value text-secondary">
              {{ humanReadableDuration(study.endDate) }}
            </div>
            <div class="stat-desc">
              am {{ humanReadableDate(study.endDate) }}
            </div>
          </div>
        </div>
        <p>
          {{ study.description }}
        </p>
        <div class="card-actions justify-end">
          <button
            *ngIf="!study.participation"
            daisyButton
            [color]="ButtonColor.PRIMARY"
            (click)="createNewParticipation(study.id)"
          >
            Starten
          </button>
          <button
            *ngIf="study.participation"
            daisyButton
            [color]="ButtonColor.PRIMARY"
            (click)="openStudy(study.id)"
          >
            Fortsetzen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
